body {
    background-color: white;
    display: flex;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
    justify-content: center;
}

.u-card {
    display: flex;
    column-gap: 20px;
    padding: 20px;
    justify-content: center;
}

.u-name-counter-col {
    border: 2px solid black;
    width: 500px;
    padding: 5px;
    text-decoration: none;
    
}

.user-name {
    margin-left: 30px;
}

.u-posts-counter {
    margin-left: 300px;
    font-weight: 800;
}



